[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Real World Elm - Part 1
Type=Link
URL=http://engineering.truqu.com/2015/08/19/real-world-elm-part-1.html
Icon=text-html
