{% extends "table.html" %}
{% load custom_filters %}
{% filter sort %}
{% load staticfiles %}
{% endfilter %}
{% block title%}Main menu{% endblock %}
{% block head %}Liste des Ingredients{% endblock %}
{% block content %}
<div class="container">
  <table class="table-striped"  id="liste_ingredients">
    <thead>
      <tr>
	{% if request.user.is_authenticated %}
	<td colspan="2">
          <span>Ingredients </span><span class="grpcat">[<a  href="javascript:;" id="id_sel_categorie" data-myaction="{% url 'list_ingredients' %}" data-groupe="ING" data-toggle="popover" data-trigger="click" data-title="filtre par catégorie"  data-content="" >ING:{{request.session.ingredients_categorie}}</a>]</span>
	  
	  &nbsp;
	  {% if acces %}
	  {% if detail %}
	  <a href="{% url 'list_ingredients_acces' acces %}?detail=false" data-toggle="tooltip" title="mode grille"><span class="glyphicon glyphicon-th"></span></a>
	  {% else %}
	  <a href="{% url 'list_ingredients_acces' acces %}?detail=true" data-toggle="tooltip" title="mode liste"><span class="glyphicon glyphicon-th-list"></span></a>
	  {% endif %}

	  {% else %}
	  {% if detail %}
	  <a href="{% url 'list_ingredients_owner' owner %}?detail=false" data-toggle="tooltip" title="mode grille"><span class="glyphicon glyphicon-th"></span></a>
	  {% else %}
	  <a href="{% url 'list_ingredients_owner' owner %}?detail=true" data-toggle="tooltip" title="mode liste"><span class="glyphicon glyphicon-th-list"></span></a>
	  {% endif %}
	  {% endif %}
	  &nbsp;&nbsp;
	  <a href="javascript:ask_import_ingredient();" title="ajouter un ingrédient" ><span class="glyphicon glyphicon-plus"></span> ajouter</a>
	</td>

	<td>
          {% if owner == 'me' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Propriétaire">
	    <option value="{% url 'list_ingredients_owner' 'me' %}" selected>les miens</option> 
	    <option value="{% url 'list_ingredients_owner' 'others' %}">les autres publics</option>
	    <option value="{% url 'list_ingredients_owner' 'all' %}">les miens et les autres</option>
	  </select>
          {% endif %}
          
          {% if owner == 'others' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Propriétaire">
	    <option value="{% url 'list_ingredients_owner' 'me' %}">les miens</option>
	    <option value="{% url 'list_ingredients_owner' 'others' %}" selected>les autres plubics</option>
	    <option value="{% url 'list_ingredients_owner' 'all' %}">les miens et les autres</option>
	  </select>
          {% endif %}
          
          {% if owner == 'all' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Propriétaire">
	    <option value="{% url 'list_ingredients_owner' 'me' %}">les miens</option>
	    <option value="{% url 'list_ingredients_owner' 'others' %}">les autres plubics</option>
	    <option value="{% url 'list_ingredients_owner' 'all' %}" selected>les miens et les autres</option>
	  </select>
          {% endif %}
	  
	</td>

	<td>
	  {% if owner == 'me' %}
          <!-- span class="glyphicon glyphicon-filter"></span -->
          <select id="id_acces_sel" data-toggle="tooltip" title="Visibilité">
            {% if acces == 'public' %}
            <option value="{% url 'list_ingredients_acces' 'private' %}">privés</option>      
            <option value="{% url 'list_ingredients_acces' 'public' %}" selected>plubics</option>
            <option value="{% url 'list_ingredients_acces' 'all' %}">plubics ou privés</option>
            {% elif acces == 'private' %}
            <option value="{% url 'list_ingredients_acces' 'private' %}" selected>privés</option>
            <option value="{% url 'list_ingredients_acces' 'public' %}">plubics</option>
            <option value="{% url 'list_ingredients_acces' 'all' %}">plubics ou privés</option>
            {% else %}
            <option value="{% url 'list_ingredients_acces' 'private' %}">privés</option>      
            <option value="{% url 'list_ingredients_acces' 'public' %}">plubics</option>
            <option value="{% url 'list_ingredients_acces' 'all' %}" selected>plubics ou privés</option>
            {% endif %}
          </select>
          
          {% endif %}
	</td>
	{% else %}
	<td colspan="4">
          <span>Ingredients </span><span class="grpcat">[<a  href="javascript:;" id="id_sel_categorie" data-toggle="popover" data-trigger="click" data-title="filtre par catégorie"  data-content="" data-groupe="ING" >ING:{{request.session.ingredients_categorie}}</a>]</span>

	  &nbsp;&nbsp;
	  {% if detail %}
	  <a href="{% url 'list_ingredients' %}?detail=false" data-toggle="tooltip" title="mode grille"><span class="glyphicon glyphicon-th"></span></a>
	  {% else %}
	  <a href="{% url 'list_ingredients' %}?detail=true" data-toggle="tooltip" title="mode liste"><span class="glyphicon glyphicon-th-list"></span></a>
	  {% endif %}
	</td>
	{% endif %}


	<td class="text-right">
          {% if ingredients %}
	  <div class="pagination">
	    <span class="step-links">
	      {% if ingredients.has_previous %}
	      <a href="?page={{ ingredients.previous_page_number }}&detail={{ detail }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
	      {% endif %}
	      <span class="current">
		Page {{ ingredients.number }} of {{ ingredients.paginator.num_pages }}
	      </span>
	      {% if ingredients.has_next %}
	      <a href="?page={{ ingredients.next_page_number }}&detail={{ detail }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
	      {% endif %}
	    </span>
          </div>
          {% endif %}
        </td>
      </tr>

      {% if detail %}
      <tr>
        <th>code</th>
        <th>description</th>
        <th>
          propriétaire
        </th>

        <th colspan="2">
          accès
      </tr>
      {% endif %}

      {% comment %}
      {% if request.user.is_authenticated %}
      <tr>
        <td colspan="2">&nbsp</td>
        <td >
          <!-- span class="glyphicon glyphicon-filter"></span -->
          {% if owner == 'me' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Visibilité">
	    <option value="{% url 'list_ingredients_owner' 'me' %}" selected>les miens</option> 
	    <option value="{% url 'list_ingredients_owner' 'others' %}">les autres</option>
	    <option value="{% url 'list_ingredients_owner' 'all' %}">plubics privés</option>
	  </select>
          {% endif %}
          
          {% if owner == 'others' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Visibilité">
	    <option value="{% url 'list_ingredients_owner' 'me' %}">les miens</option>
	    <option value="{% url 'list_ingredients_owner' 'others' %}" selected>les autres</option>
	    <option value="{% url 'list_ingredients_owner' 'all' %}">plubics privés</option>
	  </select>
          {% endif %}
          
          {% if owner == 'all' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Visibilité">
	    <option value="{% url 'list_ingredients_owner' 'me' %}">les miens</option>
	    <option value="{% url 'list_ingredients_owner' 'others' %}">les autres</option>
	    <option value="{% url 'list_ingredients_owner' 'all' %}" selected>plubics privés</option>
	  </select>
          {% endif %}
        </td>
        
        <td colspan="3">
          {% if owner == 'me' %}
          <!-- span class="glyphicon glyphicon-filter"></span -->
          <select id="id_acces_sel" data-toggle="tooltip" title="Visibilité">
            {% if acces == 'public' %}
            <option value="{% url 'list_ingredients_acces' 'private' %}">privé</option>      
            <option value="{% url 'list_ingredients_acces' 'public' %}" selected>public</option>
            <option value="{% url 'list_ingredients_acces' 'all' %}">plubics privés</option>
            {% elif acces == 'private' %}
            <option value="{% url 'list_ingredients_acces' 'private' %}" selected>privé</option>
            <option value="{% url 'list_ingredients_acces' 'public' %}">public</option>
            <option value="{% url 'list_ingredients_acces' 'all' %}">plubics privés</option>
            {% else %}
            <option value="{% url 'list_ingredients_acces' 'private' %}">privé</option>      
            <option value="{% url 'list_ingredients_acces' 'public' %}">public</option>
            <option value="{% url 'list_ingredients_acces' 'all' %}" selected>plubics privés</option>      
            {% endif %}
          </select>
          {% endif %}
        </td>
        
      </tr>
      {% endif %}
      {% endcomment %}
    </thead>

    <tbody>
      {% if ingredients %}
      {% if detail %}
      {% for ingredient in ingredients %}
      <tr role="row">
        <td>
          
          {% if request.user.username == ingredient.owner.username %}
          <div>
            <span id="id_ingredient_code_{{ingredient.id}}" >{{ingredient.code}}</span>
          </div>
          <div>
            <div>
              <a href="javascript:ask_delete_ingredient({{forloop.counter0}});"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
            <div>
              <a href="javascript:ask_edit_ingredient({{ingredient.id}});"  title="modifier un ingredient"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
          </div>
          {% endif %}
          {% if ingredient.categorie %}
          <div>
            <span  class="grpcat" data-toggle="tooltip" title="{{ingredient.categorie.description}}" >[{{ingredient.categorie.groupe}}:{{ingredient.categorie.categorie}}]</span>
            <span style="display:none;" id="id_groupe_{{ingredient.id}}" >{{ingredient.categorie.groupe}}</span>
            <span style="display:none;" id="id_categorie_{{ingredient.id}}" >{{ingredient.categorie.categorie}}</span>
          </div>
          {% endif %}

        </td> 
        <td><span id="id_ingredient_description_{{ingredient.id}}">{{ingredient.description}}</span></td>
        <td><span id="id_ingredient_username_{{ingredient.id}}">{{ingredient.owner.username}}</span></td>
        <td><span >{{ingredient.get_acces_display}}</span></td>
        <td style="display:none"><span id="id_ingredient_acces_{{ingredient.id}}">{{ingredient.acces}}</span></td>
        <td>
	  <a href="javascript:detail_ingredient({{forloop.counter0}});" title="détail de l'ingrédient" >
            <img id="id_ingredient_img_{{ingredient.id}}" src="{% url 'photo' ingredient.photo.id %}"></a>
        </td>

      </tr>
      {% endfor %}
      {% else %}
      {% for ingredient in ingredients %}
      {% if forloop.first %}
      <tr>
        {% elif forloop.counter0|divisibleby:"5" %}
      </tr>
      <tr>
        {% endif %}  
        {% comment %}
        http://fr.learnlayout.com/position-example.html
        la cellule est aligne en haut,
        il faut specifier une hauteur de 128 pour les images
        {% endcomment %}
        <td style="vertical-align:top">
          <div class="container-fluid" >
            <div class="row sticky-top" style="text-align:center;"><span id="id_ingredient_code_{{ingredient.id}}" >{{ingredient.code}}</span></div>
            <div class="row" style="height:128px;text-align:center;">
	      <a href="javascript:detail_ingredient({{forloop.counter0}});" title="détail de l'ingrédient" >
                <img id="id_ingredient_img_{{ingredient.id}}" src="{% url 'photo' ingredient.photo.id %}"></a>
            </div>
            <div style="display:none"><span id="id_ingredient_description_{{ingredient.id}}">{{ingredient.description}}</span></div>
            <div style="display:none"><span id="id_ingredient_acces_{{ingredient.id}}">{{ingredient.acces}}</span></div>

            <div class="row" style="vertical-align:bottom;margin-left:0px;">
              {% if request.user.username == ingredient.owner.username %}
              <a href="javascript:ask_delete_ingredient({{forloop.counter0}});" title="supprimer un ingredient"><span class="glyphicon glyphicon-trash"></span></a>
              <a href="javascript:ask_edit_ingredient({{forloop.counter0}});"  title="modifier un ingredient"><span class="glyphicon glyphicon-pencil"></span></a>
              {% endif %}
              {% if ingredient.categorie %}
              <span  class="grpcat" data-toggle="tooltip" title="{{ingredient.categorie.description}}" >&nbsp;[{{ingredient.categorie.groupe}}:{{ingredient.categorie.categorie}}]</span>
              <span style="display:none;" id="id_groupe_{{ingredient.id}}" >{{ingredient.categorie.groupe}}</span>
              <span style="display:none;" id="id_categorie_{{ingredient.id}}">{{ingredient.categorie.categorie}}</span>
              {% endif %}
            </div>
          </div>
        </td>
        {% if forloop.last %}
        {% for i in remplissage %}
        <td></td>     
        {% endfor %}
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endif %}
      
    </tbody> 

    <tfoot>
      <tr>
        <td colspan="4"><p>Ingredients</td>
        <td class="text-right">
          {% if ingredients %}
          <div class="pagination">
            <span class="step-links">
              {% if ingredients.has_previous %}
              <a href="?page={{ ingredients.previous_page_number }}&detail={{ detail }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
	      {% endif %}
	      <span class="current">
		Page {{ ingredients.number }} of {{ ingredients.paginator.num_pages }}
	      </span>
	      {% if ingredients.has_next %}
	      <a href="?page={{ ingredients.next_page_number }}&detail={{ detail }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
	      {% endif %}
	    </span>
          </div>
          {% endif %}
        </td>
    </tfoot>
  </table>

  {% if request.user.is_authenticated %}
  {% comment %}
  <!-- Modal Creation d'un ingredient -->
  <div id="modalAddIngredient" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
	  <h4 class="modal-title text-center">Ajouter un ingredient</h4>	
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
	  <form id="id_import_ingredient_form" enctype="multipart/form-data" method="POST" class="post-form" action="{% url 'ingredient_create' %}">
	    {% csrf_token %}
	    <div class="form-group">
	      <div class="form-group form-inline">
	        <label for="code">Code:</label>
	        <input type="text" class="form-control" id="id_code" name="code" placeholder="Code" required="required" maxlength="20">
	      </div>
	      <div class="form-group">
	        <label for="description">Description:</label>
	        <textarea rows="5" class="form-control" id="id_description" name="description" placeholder="Description" required="required" maxlength="200"></textarea>
	      </div>

            <div style="margin-bottom:10px;">
              <div style="display:inline-block">  
              
	      <div class="form-group">
	        <label for="acces">Accès:</label>
	        <select class="form_control" name="acces" id="id_acces">
		  <option value="PUB" selected>public</option>
		  <option value="PRIV">privé</option>
	        </select>
	      </div>
	      <div class="form-group">
	        <label for="ingredient">Image:</label>
	        <input type="file" class="form-control-file" id="id_import_ingredient" required name="ingredient" placeholder="Description" required="required" maxlength="200">
	      </div>
              </div>
	      <div style="display:inline-block"><img style="height:128px;display:block;margin-right:auto;margin-left:auto;" id="id_import_ingredient_img">
              </div>
              </div>
	      <div class="form-group">
	        <button id="id_submit_ingredient" type="submit"  class="btn btn-primary btn-md btn-block">Engegistrer ici</button>
	      </div>
	    </div>
	  </form>
	</div>
        <div class="modal-footer">
          <div class="alert-warning text-center" >
            <span id="id_import_ingredient_message"></span>
            </div>
	</div>
      </div>
    </div>
  </div>

  <!-- Modal Modification d'un ingredient -->
  <div id="id_edit_ingredient_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
	  <h4 class="modal-title text-center">Modifier un ingredient</h4>	
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
	  <form id="id_edit_ingredient_form" enctype="multipart/form-data" method="POST" class="post-form" action="{% url 'ingredient_create' %}">
	    {% csrf_token %}
            <input type="hidden" name="id" id="id_edit_ingredient_id">
	    <div class="form-group form-inline">
	      <label for="code">Code:</label>
	      <input type="text" class="form-control" id="id_edit_ingredient_code" name="code" placeholder="Code" required="required" maxlength="20">
	    </div>
	    <div class="form-group">
	      <label for="description">Description:</label>
	      <textarea rows="5" class="form-control" id="id_edit_ingredient_description" name="description" placeholder="Description" required="required" maxlength="200"></textarea>
	    </div>

            <div style="margin-bottom:10px;">
              <div style="display:inline-block">  
	        <div class="form-group">
	          <label for="acces">Accès:</label>
	          <select class="form_control" name="acces" id="id_edit_ingredient_acces">
		    <option value="PUB" selected>public</option>
		    <option value="PRIV">privé</option>
	          </select>
	        </div>
	        <div class="form-group">
	          <label for="ingredient">Image:</label>
	          <input type="file" class="form-control-file" id="id_edit_ingredient" name="ingredient" placeholder="Description"  maxlength="200">
	        </div>
              </div>
	      <div style="display:inline-block"><img style="height:128px;display:block;margin-right:auto;margin-left:auto;" id="id_edit_ingredient_img">
              </div>
            </div>

	<div class="form-group">
	  <button id="id_edit_submit_ingredient" type="submit"  class="btn btn-primary btn-md btn-block">Engegistrer ici</button>
	</div>
	</form>
      </div>
      <div class="modal-footer">
        <div class="alert-error text-center" >
          <span id="id_edit_ingredient_message"></span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endcomment %}
{% endif %}

  <!-- Modal detail d'un ingredient -->
  <div id="id_detail_ingredient_modal" class="modal fade">
    <span id="id_detail_ingredient_no" style="display:none"></span>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" id="id_detail_ingredient_modal_view_header">
	  <h4 class="modal-title text-center">Détail ingredient</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-header" id="id_detail_ingredient_modal_delete_header">
          <h4 class="modal-title text-center">Suppression ingredient</h4>	
        </div>

        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="greybox" style="width:30%">
                <span class="font-weight-bold">Code </span>
                <span id="id_detail_ingredient_code"></span>
              </div>
            </div>
            <div class="row">
              <div class="greybox">
                <span class="font-weight-bold">Date création</span>
                <span id="id_detail_ingredient_date_creation"></span>
              </div>
            </div>            
            <div class="row">
              <div class="greybox">
                <span class="font-weight-bold">Date dernière modification </span>
                <span id="id_detail_ingredient_date_modification"></span>
              </div>
            </div>
            <div class="row">
              <div class="greybox">
                <span class="font-weight-bold">Catégorie  </span>
                <span id="id_detail_ingredient_categorie_description"></span>
              </div>
            </div>
            <div class="row">
              <div class="greybox">
                <span class="font-weight-bold">Prix </span>
                <span id="id_detail_ingredient_prix_unitaire"></span>
                <span class="font-weight-bold">&euro;</span>
                <span> pour </span>
                <span id="id_detail_ingredient_prix_poids"></span>
                <span class="font-weight-bold">g</span>
              </div>
            </div>            
            <div class="row">
              <div class="greybox" style="min-height: 75px;">                
	          <label for="description">Description:</label>
	          <textarea disabled rows="2" class="form-control" id="id_detail_ingredient_description" name="description" required="required" maxlength="200"></textarea>


<!--                <span class="font-weight-bold" >Description </span>
                <input type="textarea"  id="id_detail_ingredient_description" disabled value="kkk">
-->
              </div>

              <div class="greybox" style="min-height: 75px;">
                <span class="font-weight-bold" >Bon à savoir </span>
                <span id="id_detail_ingredient_bonasavoir"></span>
              </div>
              <div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 greybox">
                <div class="no-margin row">
                  <div class="col-border col-lg-8" style="display:inline-block"><p class="font-lighter">Valeurs nutritionnelles moyennes</p>
                  </div>
                  <div class="col-border col-lg-4" style="display:inline-block"><p >Pour 100g</p>
                  </div>
                </div>
                <div class="no-margin row">
                  <div class="col-border col-lg-8"><span>energie</span>
                  </div>
                  <div class="col-border col-lg-4">
                    <div>
                      <span id="id_detail_ingredient_kjoules"></span>
                      <span>kj</span>
                    </div>
                    <div>
                      <span id="id_detail_ingredient_kcalories"></span>
                      <span> kcal</span>
                    </div>
                  </div>
                </div>
                
                <div class="no-margin row">
                  <div class="col-border col-lg-8">
                    <span>maitères grasses<span>
                  </div>
                  <div  class="col-border col-lg-4">
                    <span id="id_detail_ingredient_matieres_grasses_inf"></span>
                    <span id="id_detail_ingredient_matieres_grasses"></span>
                    <span> g</span>
                  </div>
                </div>
                
                <div class="no-margin row">
                  <div class="col-border col-lg-8">
                    <span>dont acides gras saturés<span>
                  </div>
                  <div class="col-border col-lg-4">
                    <span id="id_detail_ingredient_matieres_grasses_saturees_inf"></span>
                    <span id="id_detail_ingredient_matieres_grasses_saturees"></span>
                    <span> g</span>
                  </div>
                </div>

                <div class="no-margin row">
                  <div class="col-border col-lg-8">
                    <span>Glucides<span>
                  </div>
                  <div class="col-border col-lg-4">
                    <span id="id_detail_ingredient_glucides_inf"></span>
                    <span id="id_detail_ingredient_glucides"></span>
                    <span> g<span>
                  </div>
                </div>
                
                <div class="no-margin row">
                  <div class="col-border col-lg-8">
                    <span>dont sucres<span>
                  </div>
                  <div class="col-border col-lg-4">
                    <span id="id_detail_ingredient_glucides_dont_sucres_inf"></span>
                    <span id="id_detail_ingredient_glucides_dont_sucres"></span>
                    <span>g</span>
                  </div>
                </div>

                <div class="no-margin row">
                  <div class="col-border col-lg-8">
                    <span>fibres<span>
                  </div>
                  <div class="col-border col-lg-4">
                    <span id="id_detail_ingredient_fibre_inf"></span>
                    <span id="id_detail_ingredient_fibres"></span>
                    <span> g</span>
                  </div>
                </div>

                <div class="no-margin row">
                  <div class="col-border col-lg-8">
                    <span>proteines<span>
                  </div>
                  <div class="col-border col-lg-4">
                    <span id="id_detail_ingredient_proteines_inf"></span>
                    <span id="id_detail_ingredient_proteines"></span>
                    <span> g</span>
                  </div>
                </div>

                <div class="no-margin row">
                  <div class="col-border col-lg-8">
                    <span>sel<span>
                  </div>
                  <div class="col-border col-lg-4">
                    <span id="id_detail_ingredient_sel_inf"></span>
                    <span id="id_detail_ingredient_sel"></span>
                    <span> g</span>
                  </div>
                </div>
                
                
              </div>
              <div class="col-lg-4">
                <img style="height:128px;float:left;border-right: 0px solid black;margin-right:5px;" id="id_detail_ingredient_img">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" id="id_detail_ingredient_modal_view_footer">
          <a id="id_detail_ingredient_previous" href="#"><span class="step-link glyphicon glyphicon-arrow-left"></span></a>
	  <a id="id_detail_ingredient_next" href="#"><span class="step-link glyphicon glyphicon-arrow-right"></span></a>
        </div>
        <div class="modal-footer" id="id_detail_ingredient_modal_delete_footer" style="display:none">
          <div>
            <span style="display:none;" id="id_delete_ingredient_id"></span>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="id_delete_ingredient_abandon" >Abandon</button>
            <button type="button" id="id_delete_ingredient" class="btn btn-warning">Suppression</button>
          </div>
          <div class="alert-error text-center" >
            <span id="id_delete_ingredient_message">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<script type="text/javascript" src="{% static "js/ingredient.js" %}"></script>
<script  type="text/javascript">

  var ingredients = {};
  {% for ingredient in ingredients %}
  ingredients[ {{ forloop.counter0 }} ] = {
  "id" : "{{ ingredient.id }}",
  "code" : "{{ ingredient.code|escapejs }}",
  "description" : "{{ ingredient.description|escapejs }}",
  "bonasavoir" :  "{{ ingredient.bonasavoir|escapejs }}",
  "owner" : "{{ ingredient.owner.username|escapejs }}",
  "acces" : "{{ingredient.acces|escapejs}}",
  
  "kcalories" : "{{ingredient.kcalories|escapejs}}",
  "kjoules" : "{{ingredient.kjoules|escapejs}}",
  "matieges_grasses_inf" : "{{ingredient.matieres_grasses_inferieures|escapejs}}",
  "matieres_grasses" : "{{ingredient.matieres_grasses|escapejs}}",
  "matieres_grasses_saturees" : "{{ingredient.matieres_grasses_saturees|escapejs}}",
  "glucides_inf" : "{{ingredient.glucides_inferieures|escapejs}}",
  "glucides" : "{{ingredient.glucides|escapejs}}",
  "glucides_dont_sucres" : "{{ingredient.glucides_dont_sucres|escapejs}}",
  "fibres_alimentaires_inf" : "{{ingredient.fibres_alimentaires_inferieures|escapejs}}",
  "fibres_alimentaires" : "{{ingredient.fibres_alimentaires|escapejs}}",
  "proteines_inf" : "{{ingredient.proteines_inferieures|escapejs}}",
  "proteines" : "{{ingredient.proteines|escapejs}}",
  "sel_inf" : "{{ingredient.sel_inferieur|escapejs}}",
  "sel" : "{{ingredient.sel|escapejs}}",
  "date_creation" : "{{ingredient.date_creation|date:"l j F o G:H:i"}}",
  "date_modification" : "{{ingredient.date_modification|date:"l j F o G:H:i"}}",
  {% if ingredient.categorie %}
  "categorie_description" : "{{ingredient.categorie.description|escapejs}}",
  {% else %}
  "categorie_description" : "",
  {% endif %}
  "pu" : "{{ingredient.pu|escapejs}}",
  "pp" : "{{ingredient.pp|escapejs}}",
  };
  {% endfor %}

  function getIngredient(no) {
  return ingredients[no];
  }
  function getNbIngredient() {
  return Object.keys(ingredients).length;

  }
  
  function getDetailValue() {
  return "{{detail}}";
  }
  function getIngredientCreateUrl() {
  return "{% url 'ingredient_create' %}";
  }

  function getGetIngredientUrl() {
  return "{% url 'ingredient_empty' %}";
  }

  $(document).ready(
    function () {
  $('#liste_ingredients').DataTable({
  "hover":true,
  "compact":true,
  "strip":true,
  "paging":false,
  "searching":false,
  "info":false,
  "ordering":false,
  "autoWidth":false,
  {% if detail %}
  "columnDefs": [
  { "width": "10%", "targets": 0 },
  { "width": "30%", "targets": 1 },
  { "width": "20%", "targets": 2 },
  { "width": "20%", "targets": 3 },
  { "width": "20%", "targets": 4 }
  ]
  {% else %}
  "columnDefs": [
  { "width": "20%", "targets": 0 },
  { "width": "20%", "targets": 1 },
  { "width": "20%", "targets": 2 },
  { "width": "20%", "targets": 3 },
  { "width": "20%", "targets": 4 }
  ]
  {% endif %}    
  });
});

</script>
</div>
{% endblock %}
