{% extends "table.html" %}
{% load custom_filters %}
{% filter sort %}
{% load staticfiles %}
{% endfilter %}
{% block title%}Main menu{% endblock %}
{% block head %}Liste des Ingredients{% endblock %}
{% block content %}
{% if ingredients %}
<table class="table table-condensed" id="liste">
  <colgroup>
    <col class="col-xs-1"></col>
    <col class="col-xs-11"></col>
  </colgroup>
<div class="pagination">
  <span class="step-links">
    {% if ingredients.has_previous %}
    <a href="?page={{ ingredients.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ ingredients.number }} of {{ ingredients.paginator.num_pages }}.
    </span>
    {% if ingredients.has_next %}
    <a href="?page={{ ingredients.next_page_number }}">next</a>
    {% endif %}
  </span>

  {% for ingredient in ingredients %}
  <tr>
    <td><a href="/mesrecettes/detaili/{{ ingredient.id }}"><img src="{{ ingredient.photo.get_absolute_url }}"></td>
    <td><a href="/mesrecettes/detaili/{{ ingredient.id }}">{{ingredient.description}}</a></td>
  </tr>
  {% endfor %}
  
</table>
<div class="pagination">
  <span class="step-links">
    {% if ingredients.has_previous %}
    <a href="?page={{ ingredients.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ ingredients.number }} of {{ ingredients.paginator.num_pages }}.
    </span>
    {% if ingredients.has_next %}
    <a href="?page={{ ingredients.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% else %}
<p>Il n'y a pas de ingredients.</p>
{% endif %}
{% endblock %}
