{% extends "table.html" %}
{% load custom_filters %}
{% filter sort %}
{% load staticfiles %}
{% endfilter %}
{% block title%}Main menu{% endblock %}
{% block head %}Liste des Photos{% endblock %}
{% block content %}
<div class="container">
  <table class="table-striped"  id="liste_photos">
    <thead >
      <tr  style="margin:0;padding:0;border:0px;">
	{% if request.user.is_authenticated %}
	<td colspan="2">

	  {% if acces %}
	  {% if detail %}
	  <a href="{% url 'list_photos_acces' acces %}?detail=false" data-toggle="tooltip" title="mode grille"><span class="glyphicon glyphicon-th"></span></a>
	  {% else %}
	  <a href="{% url 'list_photos_acces' acces %}?detail=true" data-toggle="tooltip" title="mode liste"><span class="glyphicon glyphicon-th-list"></span></a>
	  {% endif %}

	  {% else %}
	  {% if detail %}
	  <a href="{% url 'list_photos_owner' owner %}?detail=false" data-toggle="tooltip" title="mode grille"><span class="glyphicon glyphicon-th"></span></a>
	  {% else %}
	  <a href="{% url 'list_photos_owner' owner %}?detail=true" data-toggle="tooltip" title="mode liste"><span class="glyphicon glyphicon-th-list"></span></a>
	  {% endif %}
	  {% endif %}
          

          <span>Photos </span><span class="grpcat">[<a  href="javascript:;" id="id_sel_categorie" data-myaction="{% url 'list_photos' %}" data-groupe="ALL" data-toggle="popover" data-trigger="click" data-title="filtre par catégorie"  data-content="" >{{ request.session.photos_groupe}}:{{ request.session.photos_categorie}}</a>]</span>

	  
	  &nbsp;
	  &nbsp;&nbsp;
	  <a href="javascript:ask_import_photo();" title="importer une photo" ><span class="glyphicon glyphicon-plus"></span> ajouter</a>

	</td>
	<td>
          {% if owner == 'me' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Propriétaire">
	    <option value="{% url 'list_photos_owner' 'me' %}" selected>les miennes</option> 
	    <option value="{% url 'list_photos_owner' 'others' %}">les autres publiques</option>
	    <option value="{% url 'list_photos_owner' 'all' %}">les miennes et les autres</option>
	  </select>
          {% endif %}
          
          {% if owner == 'others' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Propriétaire">
	    <option value="{% url 'list_photos_owner' 'me' %}">les miennes</option>
	    <option value="{% url 'list_photos_owner' 'others' %}" selected>les autres publiques</option>
	    <option value="{% url 'list_photos_owner' 'all' %}">les miennes et les autres</option>
	  </select>
          {% endif %}
          
          {% if owner == 'all' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Propriétaire">
	    <option value="{% url 'list_photos_owner' 'me' %}">les miennes</option>
	    <option value="{% url 'list_photos_owner' 'others' %}">les autres publiques</option>
	    <option value="{% url 'list_photos_owner' 'all' %}" selected>les miennes et les autres</option>
	  </select>
          {% endif %}
	  
	</td>

	<td>
	  {% if owner == 'me' %}
          <select id="id_acces_sel" data-toggle="tooltip" title="Visibilité">
            {% if acces == 'public' %}
            <option value="{% url 'list_photos_acces' 'private' %}">privées</option>      
            <option value="{% url 'list_photos_acces' 'public' %}" selected>publiques</option>
            <option value="{% url 'list_photos_acces' 'all' %}">publiques ou privées</option>
            {% elif acces == 'private' %}
            <option value="{% url 'list_photos_acces' 'private' %}" selected>privées</option>
            <option value="{% url 'list_photos_acces' 'public' %}">publiques</option>
            <option value="{% url 'list_photos_acces' 'all' %}">publiques ou privées</option>
            {% else %}
            <option value="{% url 'list_photos_acces' 'private' %}">privées</option>      
            <option value="{% url 'list_photos_acces' 'public' %}">publiques</option>
            <option value="{% url 'list_photos_acces' 'all' %}" selected>publiques ou privées</option>
            {% endif %}
          </select>
          
          {% endif %}
	</td>
	{% else %}
	<td colspan="4">

	  {% if detail %}
	  <a href="{% url 'list_photos' %}?detail=false" data-toggle="tooltip" title="mode grille"><span class="glyphicon glyphicon-th"></span></a>
	  {% else %}
	  <a href="{% url 'list_photos' %}?detail=true" data-toggle="tooltip" title="mode liste"><span class="glyphicon glyphicon-th-list"></span></a>
	  {% endif %}
          <span>Photos </span><span class="grpcat">[<a  href="javascript:;" id="id_sel_categorie" data-groupe="ALL" data-toggle="popover" data-trigger="click" data-title="filtre par catégorie"  data-content="" >{{ request.session.photos_groupe}}:{{ request.session.photos_categorie}}</a>]</span>

        </td>
	{% endif %}


	<td class="text-right">
          {% if photos %}
	  <div class="pagination">
	    <span class="step-links">
	      {% if photos.has_previous %}
	      <a href="?page={{ photos.previous_page_number }}&detail={{ detail }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
	      {% endif %}
	      <span class="current">
		Page {{ photos.number }} of {{ photos.paginator.num_pages }}
	      </span>
	      {% if photos.has_next %}
	      <a href="?page={{ photos.next_page_number }}&detail={{ detail }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
	      {% endif %}
	    </span>
          </div>
          {% endif %}
        </td>
      </tr>

      {% if detail %}
      <tr>
        <th>code</th>
        <th>description</th>
        <th>
          propriétaire
        </th>

        <th colspan="2">
          accès
      </tr>
      {% endif %}

      {% comment %}
      {% if request.user.is_authenticated %}
      <tr>
        <td colspan="2">&nbsp</td>
        <td >
          {% if owner == 'me' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Visibilité">
	    <option value="{% url 'list_photos_owner' 'me' %}" selected>les miennes</option> 
	    <option value="{% url 'list_photos_owner' 'others' %}">les autres</option>
	    <option value="{% url 'list_photos_owner' 'all' %}">publiques privées</option>
	  </select>
          {% endif %}
          
          {% if owner == 'others' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Visibilité">
	    <option value="{% url 'list_photos_owner' 'me' %}">les miennes</option>
	    <option value="{% url 'list_photos_owner' 'others' %}" selected>les autres</option>
	    <option value="{% url 'list_photos_owner' 'all' %}">publiques privées</option>
	  </select>
          {% endif %}
          
          {% if owner == 'all' %}
	  <select name="acces" id="id_owner_sel" data-toggle="tooltip" title="Visibilité">
	    <option value="{% url 'list_photos_owner' 'me' %}">les miennes</option>
	    <option value="{% url 'list_photos_owner' 'others' %}">les autres</option>
	    <option value="{% url 'list_photos_owner' 'all' %}" selected>publiques privées</option>
	  </select>
          {% endif %}
        </td>
        
        <td colspan="3">
          {% if owner == 'me' %}
          <select id="id_acces_sel" data-toggle="tooltip" title="Visibilité">
            {% if acces == 'public' %}
            <option value="{% url 'list_photos_acces' 'private' %}">privé</option>      
            <option value="{% url 'list_photos_acces' 'public' %}" selected>public</option>
            <option value="{% url 'list_photos_acces' 'all' %}">publiques privées</option>
            {% elif acces == 'private' %}
            <option value="{% url 'list_photos_acces' 'private' %}" selected>privé</option>
            <option value="{% url 'list_photos_acces' 'public' %}">public</option>
            <option value="{% url 'list_photos_acces' 'all' %}">publiques privées</option>
            {% else %}
            <option value="{% url 'list_photos_acces' 'private' %}">privé</option>      
            <option value="{% url 'list_photos_acces' 'public' %}">public</option>
            <option value="{% url 'list_photos_acces' 'all' %}" selected>publiques privées</option>      
            {% endif %}
          </select>
          {% endif %}
        </td>
        
      </tr>
      {% endif %}
      {% endcomment %}
    </thead>

    <tbody>
      {% if photos %}
      {% if detail %}
      {% for photo in photos %}
      <tr>
        <td>
          <div><span id="id_photo_code_{{photo.id}}" >{{photo.code}}</span></div>
          {% if request.user.username == photo.owner.username %}
          <div>
            <div>
              <a href="javascript:ask_delete_photo({{photo.id}});"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
            <div>
              <a href="javascript:ask_edit_photo({{photo.id}});"  title="modifier une photo"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
          </div>
          {% else %}
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          {% endif %}
          {% if photo.categorie %}
          <div>
            <span  class="grpcat" data-toggle="tooltip" title="{{photo.categorie.description}}" >[{{photo.categorie.groupe}}:{{photo.categorie.categorie}}]</span>
            <span style="display:none;" id="id_groupe_{{photo.id}}" >{{photo.categorie.groupe}}</span>
            <span style="display:none;" id="id_categorie_{{photo.id}}" >{{photo.categorie.categorie}}</span>
          </div>
          {% endif %}
        </td> 
        <td><span id="id_photo_description_{{photo.id}}">{{photo.description}}</span></td>
        <td><span id="id_photo_username_{{photo.id}}">{{photo.owner.username}}</span></td>
        <td><span >{{photo.get_acces_display}}</span></td>
        <td style="display:none"><span id="id_photo_acces_{{photo.id}}">{{photo.acces}}</span></td>
        <td><img id="id_photo_img_{{photo.id}}" src="{% url 'photo' photo.id %}"></td>
      </tr>
      {% endfor %}
      {% else %}
      {% for photo in photos %}
      {% if forloop.first %}
      <tr>
        {% elif forloop.counter0|divisibleby:"5" %}
      </tr>
      <tr>
        {% endif %}  
        {% comment %}
        http://fr.learnlayout.com/position-example.html
        la cellule est aligne en haut,
        il faut specifier une hauteur de 128 pour les images
        {% endcomment %}
        <td style="vertical-align:top">
          <div class="container-fluid" >
            <div class="row sticky-top" style="text-align:center;"><span id="id_photo_code_{{photo.id}}" >{{photo.code}}</span></div>
            <div class="row" xstyle="height:100px;width:100px;text-align:center;"><img style="height:100px;width:100px;" id="id_photo_img_{{photo.id}}"  data-toggle="tooltip" title="{{photo.description}}" src="{% url 'photo' photo.id %}"></div>
            <div style="display:none"><span id="id_photo_description_{{photo.id}}">{{photo.description}}</span></div>
            <div style="display:none"><span id="id_photo_acces_{{photo.id}}">{{photo.acces}}</span></div>

            <div class="row" style="display:inline;vertical-align:bottom;margin-left:0px;">
              {% if request.user.username == photo.owner.username %}
              <a href="javascript:ask_delete_photo({{photo.id}});" title="supprimer une photo"><span class="glyphicon glyphicon-trash"></span></a>
              <a href="javascript:ask_edit_photo({{photo.id}});"  title="modifier une photo"><span class="glyphicon glyphicon-pencil"></span></a>
              {% endif %}
              {% if photo.categorie %}
              <span  class="grpcat" data-toggle="tooltip" title="{{photo.categorie.description}}" >&nbsp;[{{photo.categorie.groupe}}:{{photo.categorie.categorie}}]</span>
              <span style="display:none;" id="id_groupe_{{photo.id}}" >{{photo.categorie.groupe}}</span>
              <span style="display:none;" id="id_categorie_{{photo.id}}">{{photo.categorie.categorie}}</span>
              {% endif %}
            </div>
          </div>
        </td>
        {% if forloop.last %}
        {% for i in remplissage %}
        <td></td>     
        {% endfor %}
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endif %}
      
    </tbody> 

    <tfoot>
      <tr>
        <td colspan="4"><p>Photos</td>
        <td class="text-right">
          {% if photos %}
          <div class="pagination">
            <span class="step-links">
              {% if photos.has_previous %}
              <a href="?page={{ photos.previous_page_number }}&detail={{ detail }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
	      {% endif %}
	      <span class="current">
		Page {{ photos.number }} of {{ photos.paginator.num_pages }}
	      </span>
	      {% if photos.has_next %}
	      <a href="?page={{ photos.next_page_number }}&detail={{ detail }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
	      {% endif %}
	    </span>
          </div>
          {% endif %}
        </td>
    </tfoot>
  </table>

  
  
  {% if request.user.is_authenticated %}
  <!-- Modal Creation/importation d'une photo -->
  <div id="id_import_photo_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h3 class="modal-title text-center" id="id_import_titre_modal"></h4>	
        </div>
        <div class="modal-body">
	  <form id="id_import_photo_form" enctype="multipart/form-data" method="POST" class="post-form" action="{% url 'photo_create' %}">
	    {% csrf_token %}
	    <div class="form-group">

              <div class="form-group row">              
	        <label class="col-sm-2 col-form-label" for="code">Code:</label>
                <div class="col-sm-4">
	          <input type="text" class="form-control" id="id_code" name="code" placeholder="Code" required="required" maxlength="20">
	        </div>
              </div>
              
	      <div class="form-group">
	        <label for="description">Description:</label>
	        <textarea rows="5" class="form-control" id="id_description" name="description" placeholder="Description" required="required" maxlength="200"></textarea>
	      </div>

              <div class="form-group row">              
	        <label for="acces"  class="col-sm-2 col-form-label" >Accès:</label>
                <div class="col-sm-10">
	          <select class="form_control" name="acces" id="id_acces">
		    <option value="PUB" selected>public</option>
		    <option value="PRIV">privé</option>
	          </select>
	        </div>
              </div>
              
              <div class="form-group row">              
	        <label class="col-sm-2 col-form-label" for="groupe">Groupe:</label>
                <div class="col-sm-10">
                  <select class="" required  style="min-width: 40px;" id="id_import_groupe" name="groupe" placeholder="groupe">
                    <option value="NONE" selected>Choisir..</option>
                    <option value="REC" >recettes</option>
	            <option value="PREP">preparations</option>
                    <option value="ING">ingredients</option>
                    <option value="MAT">ustensiles</option>
	          </select>
                </div>
              </div>
              
              <div class="form-group row">              
	        <label class="col-sm-2 col-form-label" for="categorie">Catégorie:</label>
                <div class="col-sm-10">
                  <select class="" required data-show-subtext="true" style="min-width:350px;" data-live-search="true" id="id_import_categorie" name="categorie" placeholder="categorie">
	            <option selected>Choisir..</option>
	          </select>
                </div>
              </div>
              
              <div class="form-group row">              
                <label class="col-sm-2 col-form-label" for="photo">Image:</label>
                <div class="col-sm-8">
	          <div class="input-group">
                    <label class="input-group-btn">
                      <span class="btn btn-primary glyphicon glyphicon-folder-open" >
                        <input type="file" style="display: none;" name="photo" id="id_import_photo" >
                      </span>
                    </label>
                    <input type="text" class="form-control" id="toto" readonly>
                  </div>
                </div>
              </div>
              
	      <div>
                <img style="height:128px;display:block;margin-right:auto;margin-left:auto;" id="id_import_photo_img">
              </div>
              
	      <div class="form-group text-right">
	        <button id="id_submit_photo" type="submit"  class="btn btn-primary btn-md">Engegistrer</button>
	      </div>

	    </div>
	  </form>
	</div>
        <div class="modal-footer">
          <div class="alert-warning text-center" >
            <span id="id_import_photo_message"></span>
          </div>
	</div>
      </div>
    </div>
  </div>


<!-- Modal Suppression photo -->
<div data-backdrop="static" data-keyboard="false"  class="modal fade" id="delete_photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Supprimer une  Photo</h4>
      </div>
      <div class="modal-body">
	<span>Code : </span><p style="display:inline" id="id_delete_photo_code"></p>
        <div style="overflow:auto">
          <img style="height:128px;float:left;border-right: 0px solid black;margin-right:5px;" id="id_delete_photo_img">
          <p  id="id_delete_photo_description" ></p>
      </div>
      <div class="modal-footer">
        <div>
          <span style="display:none;" id="id_delete_photo_id"></span>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="id_delete_photo_abandon" >Abandon</button>
          <button type="button" id="id_delete_photo" class="btn btn-warning">Suppression</button>
        </div>
        <div class="alert-error text-center" >
          <span id="id_delete_photo_message"  >&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</div>

  
{% endif %}
<script type="text/javascript" src="{% static "js/photo.js" %}"></script>
<script  type="text/javascript">
  function getDetailValue() {
  return "{{detail}}";
  }
  function getPhotoCreateUrl() {
  return "{% url 'photo_create' %}";
  }

  function getGetPhotoUrl() {
  return "{% url 'photo' '99' %}";
  }

  $(document).ready(
    function () {
  $('#liste_photos').DataTable({
  "hover":true,
  "compact":false,
  "strip":true,
  "paging":false,
  "searching":false,
  "info":false,
  "ordering":false,
  "autoWidth":false,
  {% if detail %}
  "columnDefs": [
  { "width": "10%", "targets": 0 },
  { "width": "20%", "targets": 1 },
  { "width": "20%", "targets": 2 },
  { "width": "20%", "targets": 3 },
  { "width": "30%", "targets": 4 }
  ]
  {% else %}
  "columnDefs": [
  { "width": "20%", "targets": 0 },
  { "width": "20%", "targets": 1 },
  { "width": "20%", "targets": 2 },
  { "width": "20%", "targets": 3 },
  { "width": "20%", "targets": 4 }
  ]
  {% endif %}    
  });
});

</script>
</div>
{% endblock %}
