{% extends "table.html" %}
{% load custom_filters %}
{% filter sort %}
{% load staticfiles %}
{% endfilter %}
{% block title%}Main menu{% endblock %}
{% block head %}Liste des Preparations{% endblock %}
{% block content %}
{% if preparations %}
<table class="table" id="liste">
    <colgroup>
    <col class="col-xs-1"></col>
    <col class="col-xs-11"></col>
  </colgroup>
<div class="pagination">
  <span class="step-links">
    {% if preparations.has_previous %}
    <a href="?page={{ preparations.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ preparations.number }} of {{ preparations.paginator.num_pages }}.
    </span>
    {% if preparations.has_next %}
    <a href="?page={{ preparations.next_page_number }}">next</a>
    {% endif %}
  </span>

  {% for preparation in preparations %}
  <tr">
    <td><a href="/mesrecettes/detailp/{{ preparation.id }}"><img src="{{ preparation.photo.get_absolute_url }}"></a></td>
    <td><a href="/mesrecettes/detailp/{{ preparation.id }}">{{preparation.description}}</a></td>
    <td"></td>
  </tr>
  {% endfor %}
  
  {% for idx in nb_line %}
  {% if  preparations|length <= idx %}
  <tr">
   <td></td>
   <td></td>
   <td></td>
  </tr>
 {% endif %}
{% endfor %}
</table>
<div class="pagination">
  <span class="step-links">
    {% if preparations.has_previous %}
    <a href="?page={{ preparations.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ preparations.number }} of {{ preparations.paginator.num_pages }}.
    </span>
    {% if preparations.has_next %}
    <a href="?page={{ preparations.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% else %}
<p>Il n'y a pas de preparations.</p>
{% endif %}
{% endblock %}
