{% extends "table.html" %}
{% load custom_filters %}
{% filter sort %}
{% load staticfiles %}
{% endfilter %}
{% block title%}Main menu{% endblock %}
{% block head %} Préparation {% endblock %}
{% block content %}
{% if preparation %}

<section class="container">
  <div class="panel panel-primary panel-borderless">
    <div class="panel-heading">
      <h2>{{ preparation.titre }}</h2>
    </div>
    <div class="row row-marges panel-content">
      <img src="{{ preparation.photo.get_absolute_url }}" class="img-rounded img-thumbnail float-left" alt="" >
    <div class="col-lg-18 col-sm-4">
      <div class="bg">
        <div class="row">
          <div class="col-xs-6"><strong>Allergene</strong></div>
          <div class="col-xs-6">{{ allergene }}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><strong>Energie</strong></div>
          <div class="col-xs-6">{{ energie }}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><strong>Coût</strong></div>
          <div class="col-xs-6">{{ cout }}</div>
        </div>
	<div class="row">
          <div class="col-xs-12">{{ preparation.description }}</div>
        </div>
      </div>
    </div>
</section>


<section class="container">
  <div class="panel panel-primary panel-borderless">
    <div class="panel-heading">
      <button class="btn btn-default dropdown-toggle glyphicon glyphicon-minus  pull-right" data-toggle="collapse" data-target="#ingredients"></button>
      <h2>Ingredients</h2>
    </div>
    <div id="ingredients" class="collapse in">
      <div data-class="row row-marges panel-content">
	<div class="col-lg-12">
	  <div data-class="bg">
	    {% for ingredient in ingredients %}
            <div class="row">
              <div class="col-xs-2 number">{{ ingredient.quantite }} g</div>
              <div class="col-xs-6">{{ingredient.nom}}</div>
              <div class="col-xs-2 number">{{ingredient.energie}} kcal</div>
            </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="panel panel-primary panel-borderless">
    <div class="panel-heading">
      <button class="btn btn-default dropdown-toggle glyphicon glyphicon-minus pull-right" data-toggle="collapse" data-target="#preparations"></button>
      <h2>Etapes</h2>
    </div>
    <div id="preparations" class="collapse in">
      <div class="row row-marges panel-content">
	<div class="col-lg-12">
	  <div class="col-lg-8">
	    {% for elem in preparation.etapes.all %}
	    <div class="row">
              <p><span class="titre" >{{elem.titre}}</span> {{ elem.description }}</p>
	    </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
</section>
{% endif %}
{% endblock %}
