{% extends "table.html" %}
{% load custom_filters %}
{% filter sort %}
{% load staticfiles %}
{% endfilter %}
{% block title%}Main menu{% endblock %}
{% block head %} Recettes {% endblock %}
{% block content %}
{% if recette %}


<section class="container">
  <div class="panel panel-primary panel-borderless">
    <div class="panel-heading">
      <h2>{{ recette.titre }}</h2>
    </div>
    <div class="row row-marges panel-content">
      <img src="{{ recette.photo.get_absolute_url }}" class="img-rounded img-thumbnail float-left" alt="" >
    <div class="col-lg-18 col-sm-4">
      <div class="bg">
        <div class="row">
          <div class="col-xs-6"><strong>Catégorie</strong></div>
          <div class="col-xs-6">{{recette.categorie.description}}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><strong>Portions</strong></div>
          <div class="col-xs-6">{{ recette.portion }}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><strong>Difficulté</strong></div>
          <div class="col-xs-6">{{ recette.difficulte }}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><strong>Allergene</strong></div>
          <div class="col-xs-6">{{ allergene }}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><strong>Energie totale</strong></div>
          <div class="col-xs-6">{{ energie }}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><strong>Energie portion</strong></div>
          <div class="col-xs-6">{{ energie_portion }}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><strong>Coût total</strong></div>
          <div class="col-xs-6">{{ cout_total }}</div>
        </div>
        <div class="row">
          <div class="col-xs-6"><strong>Coût portion</strong></div>
          <div class="col-xs-6">{{ cout_portion }}</div>
        </div>
	<div class="row">
          <div class="col-xs-12">{{ recette.description }}</div>
        </div>
      </div>
    </div>
</section>


<section class="container">
  <div class="panel panel-primary panel-borderless">
    <div class="panel-heading">
      <button class="btn btn-default dropdown-toggle glyphicon glyphicon-minus  pull-right" data-toggle="collapse" data-target="#ingredients"></button>
      <h2>Ingredients</h2>
    </div>
    <div id="ingredients" class="collapse in">
      <div data-class="row row-marges panel-content">
	<div class="col-lg-12">
	  <div data-class="bg">
	    {% for ingredient in ingredients %}
            <div class="row">
              <div class="col-xs-2 number">{{ ingredient.quantite }} g</div>
              <div class="col-xs-6">{{ingredient.nom}}</div>
              <div class="col-xs-2 number">{{ingredient.energie}} kcal</div>
            </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
    </div>
  </div>
</section>



<section class="container">
  <div class="panel panel-primary panel-borderless">
    <div class="panel-heading">
      <button class="btn btn-default dropdown-toggle glyphicon glyphicon-minus pull-right" data-toggle="collapse" data-target="#preparations"></button>
      <h2>Préparations</h2>
    </div>
    <div id="preparations" class="collapse in">
      {% for elementRecette in preparations %}
      <div class="row row-marges panel-content">
	<div class="col-lg-12">
	<h3>{{elementRecette.preparation.titre}}</h3>
	  <div>
            <div class="row">
            <div class="col-xs-6">{{elementRecette.preparation.description}}. Utilisation : {{ elementRecette.quantite }} %</div>
            </div>
	  </div>
	</div>
      </div>
      
      <div class="row row-marges panel-content">
	<div class="col-lg-12">
	  <div class="col-lg-4">
	    {% for elem in elementRecette.preparation.elements.all %}
            <div class="row">
	      <div class="col-xs-3 number">{{ elem.quantite }} g</div>
	      <div class="col-xs-6">{{elem.ingredient.description}}</div>
            </div>
	    {% endfor %}
	  </div>
	  <div class="col-lg-8">
	    {% for elem in elementRecette.preparation.etapes.all %}
	    <div class="row">
              <p><span class="titre" >{{elem.titre}}</span> {{ elem.description }}</p>
	    </div>
	    {% endfor %}
	  </div>
	</div>
      </div>
{% endfor %}
</section>
{% endif %}
{% endblock %}
