{% extends "table.html" %}
{% load custom_filters %}
{% filter sort %}
{% load staticfiles %}
{% endfilter %}
{% block title%}Main menu{% endblock %}
{% block head %}Liste des Recettes{% endblock %}
{% block content %}
{% if recettes %}
<table style="border:0;" id="liste">
<div class="pagination">
  <span class="step-links">
    {% if recettes.has_previous %}
    <a href="?page={{ recettes.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ recettes.number }} of {{ recettes.paginator.num_pages }}.
    </span>
    {% if recettes.has_next %}
    <a href="?page={{ recettes.next_page_number }}">next</a>
    {% endif %}
  </span>

  {% for recette in recettes %}
  <tr style="height: 100px;">
    <td width="20%"><a href="/mesrecettes/detailr/{{ recette.id }}">{{recette.titre}}</a></td>
    <td width="20%"><img src="{{ recette.photo.get_absolute_url }}"></td>
    <td width="78%">{{ recette.description }}</td>
  </tr>
  {% endfor %}
  
  {% for idx in nb_line %}
  {% if  recettes|length <= idx %}
  <tr style="height: 100px;">
   <td width="20%"></td>
   <td width="20%"></td>
   <td width="78%"></td>
  </tr>
 {% endif %}
{% endfor %}
</table>
<div class="pagination">
  <span class="step-links">
    {% if recettes.has_previous %}
    <a href="?page={{ recettes.previous_page_number }}">previous</a>
    {% endif %}
    <span class="current">
      Page {{ recettes.number }} of {{ recettes.paginator.num_pages }}.
    </span>
    {% if recettes.has_next %}
    <a href="?page={{ recettes.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% else %}
<p>Il n'yr a pas de recettes.</p>
{% endif %}
{% endblock %}
