{% extends "base.html" %}
{% load custom_filters %}
{% filter sort %}
{% endfilter %}

{% block title%}Main menu{% endblock %}
{% block head %}Modification du terminal : {% if tsn %}{{ tsn }}{% endif %}{% endblock %}
{% block content %}

<form action="/paystore/term/edit" method="post">
    {% csrf_token %}
    <table>
      {% for k, v in term_list.items|sort %}
    
    <tr>
      <td width="20%" ><label for="{{ k }}">{{ k }}</label></td>
      <td width = "80%"> <input size="100"  id="{{ k }}" maxlength="200" name="{{ k }}" type="text" value="{{ v }}"/> </td>
    </tr>

{% endfor %}
    </table>
    <input type="submit" value="Modifier" />

</form>
{% endblock %}
