h2 {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 20px;
}

.bg {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.6;
}
h2,
h3 {
    orphans: 3;
    widows: 3;
}
h2,
h3 {
    page-break-after: avoid;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}

/* 
https://css-tricks.com/almanac/properties/r/resize/
https://css-tricks.com/almanac/properties/o/overflow/
*/
textarea {
    resize:none;
    overflow:auto;
}

.panel {
    border:0;
}

.panel-borderless {
    border:0;
    box-shadow:none;
}

.titre {
    font-weight: bold;	
}

.number {
    text-align: right;
}

body {
    font-family: 'Varela Round', sans-serif;
}


/*   LOGIN & FORMULAIRE SAISIE PHOTO INGREDIENT */

.modal-login {		
    /*    color: #636363; */
    width: 350px;
}
.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-login .modal-header {
    border-bottom: none;   
    position: relative;
    justify-content: center;
}
.modal-login h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
    /*    border-color: #70c5c0;*/
}
.modal-login .form-control, .modal-login .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}	
.modal-login .modal-footer {
    /*    background: #ecf0f1;
    border-color: #dee4e7;*/
    text-align: center;
    justify-content: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
}
.modal-login .modal-footer a {
    /*    color: #999;*/
}		
.modal-login .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #286090;
    padding: 15px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
    width: 100%;
}
.modal-login.modal-dialog {
    margin-top: 80px;
}
.modal-login .btn {
    color: #fff;
    border-radius: 4px;
    /*    background: #60c7c1;*/
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
    /*  background: #45aba6;*/
    outline: none;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}
.liste_photos td {
    height: 100px;
}

/* loader */
#id_loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10000;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" 
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
*/


/* https://css-tricks.com/styling-underlines-web/ */
#currentmenu
{
    color : white;
    text-decoration: none ;
}
.currentmenu
{
    color : white;
    text-decoration: none ;
    
    /*
    background-image: linear-gradient(to right, blue 75%, transparent 75%);
  background-position: 0 1.04em;
  background-repeat: repeat-x;
  background-size: 8px 3px;

  
  
    color : white;
    border-bottom: 2px red solid;
    display: inline-block;
  line-height: 0.85;

  text-decoration: underline ;
    background-color: #FFFF00; 
color: green; */
}

body {

    background: #edeff0;
}
/*
    table.dataTable tr.odd { background-color: #f5cee7;  border:1px lightgrey;}
    table.dataTable td.even { background-color: red; border:1px lightgrey; }
    table.dataTable td { background-color: #f0e2e2;  border:1px lightgrey;}
    table.dataTable tr { background-color: #f0e2e2;  border:1px lightgrey;}

table.dataTable td.sorting_1{ background-color: white; border:1px lightgrey; }
table.dataTable td{ background-color: white;  border:1px lightgrey;}
*/
   table.dataTable tr.odd { background-color: #faf5f5;  border:1px lightgrey;}
   table.dataTable tr.even{ background-color: white; border:1px lightgrey; }

   .table-striped>tbody>tr:nth-of-type(odd) {
background-color: #faf5f5;
}
/* https://css-tricks.com/removing-the-dotted-outline/ */
a {outline : 0;}
    
#scrollUp {
	position				:	fixed;
	right					:	20px;
	bottom				:	50px;
	display				:	none;
	padding				:	0px;
	background			:	#edeff0;
	-moz-border-radius	:	40px;
	-webkit-border-radius	:	40px;
	border-radius			:	40px;
	opacity				:	0.9;
	z-index				:	2000;
}

/* tentative de diminuer la hauteur de la navbar 
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}*/

.nav li {
  display: inline;
  padding-right: 0px;
}


.search  {
width: 8px;
}

/* https://bootstrapious.com/p/bootstrap-navbar */
 .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 0.5s;
 }
 
 
 .form-inline {
     padding-left: 0px;
     padding-right:0px;
 }

 .search-small {
     width:50px;
 }


/* pour ipad
http://stephen.io/mediaqueries/
*/

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
   /* pour les ipad en mode portrait on dimimue la longueur de la zone de saisie de la recherche */
  input[name="_"].form-control {
    max-width: 130px;
  }
}

.greybox {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: inherit;
  background-color: #eee;
  border-radius:5px;
}

.font-weight-bold {
    font-weight: bold;
}

.font-weight-normal {
    font-weight: normal;
}

.font-weight-lighter {
    font-weight: lighter;
}

.no-margin {
    margin: 0px;
    padding:0px;
  /*  height:35px;*/
}

.col-border {
/*    border: 1px solid black;
    height:100%;*/
}

Xdiv.row { 
  border: 1px solid;
  border-bottom: 0px;
}
X.container div.row:last-child {
  border-bottom: 1px solid;
}

.fond_image{
    opacity:0.1;
    top:15px;left:0;background:transparent;
}

.fond_image {
-moz-transition: opacity 0.9s;
-webkit-transition: opacity 0.9s;
-o-transition: opacity 0.9s;
}

.fond_image:hover{
opacity:1;
-moz-transition: opacity 0.7s;
-webkit-transition: opacity 0.7s;
-o-transition: opacity 0.7s;
}

