{% extends "base.html" %}

{% block table %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

{% comment %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	
<script  type="text/javascript">
  $(document).ready (function () {
  $("#liste tr:even").addClass("eventr");
  $("#liste tr:odd").addClass("oddtr");
  $('.delete').click (function () {
  return confirm ("Voulez-vous supprimer cet élément : " + $(this).attr ("title") + "?") ;
  }) ; 
}) ;
</script>
{% endcomment %}

{% endblock %} 
